.board {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.letter {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  font-size: 32px;
  font-weight: bold;
  align-items: center;
  text-transform: uppercase;
}

.guess {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.correct {
  background-color: lightgreen;
}

.misplaced {
  background-color: gold;
}

.incorrect {
  background-color: grey;
}

.invalid {
  animation: shake 0.5s;
}

.alphabet {
  margin: 20px 0 0;
}

@keyframes shake {
  0% {
    transform: translate(0px, 0px);
  }
  10% {
    transform: translate(-5px, 0px);
  }
  20% {
    transform: translate(5px, 0px);
  }
  30% {
    transform: translate(-4px, 0px);
  }
  40% {
    transform: translate(4px, 0px);
  }
  50% {
    transform: translate(-3px, 0px);
  }
  60% {
    transform: translate(3px, 0px);
  }
  70% {
    transform: translate(-2px, 0px);
  }
  80% {
    transform: translate(-2px, 0px);
  }
  90% {
    transform: translate(-1px, 0px);
  }
  100% {
    transform: translate(1px, 0px);
  }
}

.lettering {
  color: black;
  border: 1px solid black;
  border-radius: 10%;
  display: inline-flex;
  width: 20px;
  height: 30px;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  margin: 5px;
  text-transform: uppercase;
}
